<.header>
  New Pinguin
  <:subtitle>Use this form to manage pinguin records in your database.</:subtitle>
</.header>

<.pinguin_form changeset={@changeset} action={~p"/pinguins"} />

<.back navigate={~p"/pinguins"}>Back to pinguins</.back>
