<.header>
  New Patry
  <:subtitle>Use this form to manage patry records in your database.</:subtitle>
</.header>

<.patry_form changeset={@changeset} action={~p"/parties"} />

<.back navigate={~p"/parties"}>Back to parties</.back>
