<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:date_party]} type="datetime-local" label="Date party" />
  <.input field={f[:name]} type="text" label="Name" />
  <:actions>
    <.button>Save Patry</.button>
  </:actions>
  <.input field={f[:first_dev_experience_id]} type="select" label="First Experience" />
</.simple_form>