<.header>
  Listing First dev experiences
  <:actions>
    <.link patch={~p"/first_dev_experiences/new"}>
      <.button>New First dev experience</.button>
    </.link>
  </:actions>
</.header>

<.table
  id="first_dev_experiences"
  rows={@streams.first_dev_experiences}
  row_click={fn {_id, first_dev_experience} -> JS.navigate(~p"/first_dev_experiences/#{first_dev_experience}") end}
>
  <:col :let={{_id, first_dev_experience}} label="Name"><%= first_dev_experience.name %></:col>
  <:col :let={{_id, first_dev_experience}} label="Description"><%= first_dev_experience.description %></:col>
  <:col :let={{_id, first_dev_experience}} label="Nb thing"><%= first_dev_experience.nb_thing %></:col>
  <:action :let={{_id, first_dev_experience}}>
    <div class="sr-only">
      <.link navigate={~p"/first_dev_experiences/#{first_dev_experience}"}>Show</.link>
    </div>
    <.link patch={~p"/first_dev_experiences/#{first_dev_experience}/edit"}>Edit</.link>
  </:action>
  <:action :let={{id, first_dev_experience}}>
    <.link
      phx-click={JS.push("delete", value: %{id: first_dev_experience.id}) |> hide("##{id}")}
      data-confirm="Are you sure?"
    >
      Delete
    </.link>
  </:action>
</.table>

<.modal :if={@live_action in [:new, :edit]} id="first_dev_experience-modal" show on_cancel={JS.patch(~p"/first_dev_experiences")}>
  <.live_component
    module={FridayProjectWeb.FirstDevExperienceLive.FormComponent}
    id={@first_dev_experience.id || :new}
    title={@page_title}
    action={@live_action}
    first_dev_experience={@first_dev_experience}
    patch={~p"/first_dev_experiences"}
  />
</.modal>
